
h1 {
  color: 	#56c1ff;
  background-color: #dbdcff;
}

h2 {
  color: #ee6363;
  text-decoration: underline;
  background-color: #ffd4e5;
}

ul, ol {
  list-style-position: inside;
}

.mov1 {
  color: #eecbff;
}

.mov2 {
  color: lightgreen;
}

.mov3 {
  color: #fb97cf;
}

body {
  background-image: url("city-street-night-wallpaper.jpg");
  text-align: center;
  text-shadow: 2px 2px 0px black;
  font-family: Impact, fantasy, monospace;
}

p {
  color: #d4ffea;
}

img {
  border: 7px solid white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul, a {
  color: #FFEC9F;
  display: inline;
}

ul, ol {
  display: inline;
}

.p1 {
  float: center;
}

.p2 {
  float: left;
}

.p3{
  float: right;
}
