/*
https://www.awwwards.com/sites/waaark
#A8D0E6 light blue
#374785 medium blue
#24305E dark blue
#F76C6C coral
#F8E9A1 light yellow
*/

h1 {
    background-color: #24305E;
    /*color: #A8D0E6;*/
    color: white;
    padding: 10px;
}

a, p, span {
    color: #24305E;
}

a:hover {
    text-decoration: none;
    color: white;
}

.container {
    flex-direction: column;
    height: 85vh;
}

#index {
    background-color: #A8D0E6;
}

#profile-pic {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    margin: 48px;
}
