/*
https://www.awwwards.com/sites/waaark
#A8D0E6 light blue
#374785 medium blue
#24305E dark blue
#F76C6C coral
#F8E9A1 light yellow
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: bold;
}

.container, .item-container1, .item-container2 {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

.item-list-cap1 {
  background-color: white;
  height: 16.5vh;
  width: 40vw;
}

.item-list-cap2 {
  background-color: black;
  height: 16.5vh;
  width: 40vw;
}

.item-container1 {
  background-color: black;
  height: 35vh;
  width: 40vw;
}

.item1 {
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
}

.item-container2 {
  background-color: white;
  height: 35vh;
  width: 40vw;
}

.item2 {
  color: black;
  height: 100%;
  width: 100%;
  text-align: center;
}

